h1{
    color:#042c5c;
    font-size: 60px;
}


h2 {
    color:#fbb415;
    margin-left: 20px;
    font-size: 40px;
}

h3 { 
    color:#042c5c;
    margin-left: 40px;
    font-size: 30px;
 }
 h4 { 
    color:#042c5c;
    margin-left: 60px;
    font-size: 20px;
 }

 img{
    width: 100%;
 }

 p{
    color:#042c5c;
    margin-left: 240px;
    margin-right: 240px;
    background-color: #fbb415;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
 }

 li{
    color:#042c5c;
    margin-left: 240px;
    margin-right: 240px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }